/* ----------------------------------------- Header ----------------------------------------- */


/* Logo et boutons */
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}
nav img {
    width: auto;
    height: 50px;
    padding-top: 40px;    
}

/* Positionnement boutons Hebergements et Activites */
.menu {
    display: flex;
    justify-content: center;
}
.menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px; 
    width: 170px;
    border-top: 2px solid #ffffff;
}
.menu-link:hover {
    color: var(--clr-primaire);
    border-top: 2px solid var(--clr-primaire);
}

/* Marge pour l image et les boutons du header */
header {
    margin: 0 3%;
}